<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <title>Document</title>
</head>

<body>
  <nav class="nav__container">
    <ol class="nav__container--list">
      <li><a href="/">Inicio</a></li>
      <li><a href="/products">Catalogo</a></li>
      <li><a href="registro">Registro</a></li>
      <li><a href="login">Login</a></li>
      <li><a href="perfil">Perfil</a></li>
    </ol>
  </nav>
  <section class="body__container">
    {{{body}}}
  </section>
</body>

</html>