<h1>Olvidaste tu contraseña</h1>

<p>Ingresa tu correo</p>
<form method="post" action="api/sessions/forgot-password">
  <input type="email" placeholder="Correo electronico" name="email">
  <button>Recibir correo</button>
</form>