<h1>Loguearse</h1>
<p style="font-size: 1.6em;font-weight:bold;color:#f00">{{message}}</p>

<p style="font-size: 1.6em;font-weight:bold;color:#f00">{{error}}</p>

<form method="post" action="/api/sessions/login">
  <input type="email" placeholder="email" name="email">
  <input type="password" placeholder="password" name="password">
  <button>Login</button>
</form>
<hr>
<a href="/forgot-password">Olvidé mi contraseña</a>