<h1>Perfil</h1>
<p style="font-size: 1.6em;font-weight:bold;color:#f00">{{error}}</p>

Nombre: {{user.first_name}}
<br/>
Correo electronico: {{user.email}}
<br/>
<br/>
<a href="api/sessions/logout">Cerrar sesion</a>
