<h1>Productos actualizados en tiempo real</h1>
<h2>Agregue un producto al listado:</h2>
<form>
  <p>Producto:</p>
  <input id="title" type="text" placeholder="Ej. remera">
  <p>Descripción:</p>
  <input id="description" type="text" placeholder="Ej. remera negra">
  <p>Codigo:</p>
  <input id="code" type="text" placeholder="Ej. abc123">
  <p>Precio:</p>
  <input id="price" type="text" placeholder="Ej. 3400">
  <p>Status:</p>
  <input id="status" type="text" placeholder="true o false">
  <p>Stock:</p>
  <input id="stock" type="text" placeholder="Ej. 12">
  <p>Categoría:</p>
  <input id="category" type="text" placeholder="Ej. remeras">
  <br/>
  <br/>
  <button id="btn">Agregar</button>
  <br/>
  <br/>
</form>
<h3>Si desea eliminar un producto indique su id:</h3>
<form>
  <input id="idDelete" type="number" placeholder="Id del producto a eliminar">
  <button id="delete">Eliminar</button>
  <br/>
  <br/>
</form>
<h3 id="indicarLista"></h3>
<div id="container">

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>